#gethome_access{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background: rgba(243, 242, 242, 0.5);
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s,border 0.2s;
}
#gethome_access:hover{
   border:1px solid black;
   background: rgba(138, 135, 135, 0.5);
}
#gethome_access_shadow{
    position:fixed;
    z-index: 1000;
    left: 0px;
    background: rgba(92, 91, 91, 0.5);
    top:0px;
    width: 100%;
    height: 100vh;
    display: none;
}
#gethome_access_shadow.show{

    display: block;
}
#sign-in-sign-up{
    position:fixed ;
    top:25%;
    min-height: 100px;
    width: 320px;
    left: 40%;
    background-color: white;
    z-index: 10000;
    color: #2E3758;
    padding:20px 15px 25px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid black;
}
#sign-in-sign-up #sign-in-sign-up-butts{
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: absolute;
    top:-40px;
    width: calc(100% + 2px);
    left: -1px;
    line-height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(24, 119, 242);
    color: white;
    text-align: center;
    overflow: hidden;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black; 
}
#sign-in-sign-up #sign-in-sign-up-butts .sign-in-sign-up-butt{
   height: 100%;
   width: 50%;
   font-size: 18px;
   cursor: pointer;
}
#sign-in-sign-up #sign-in-sign-up-butts .sign-in-sign-up-butt.show{
   background-color: white;
   color:#2E3758;
 }
#sign-in-sign-up #sign-in-sign-up-butts .sign-in-sign-up-butt:hover{
    text-decoration: underline;
 }
 #sign-in-sign-up input{
    width: 100%;
    height:40px;
    padding :0px 10px;
    margin-bottom: 15px;
    outline-color: rgb(24, 119, 242);
 }
 #sign-in-sign-up input::placeholder{
    color: rgb(172, 165, 165);
 }
 
 #sign-in-sign-up input:focus::placeholder{
    color: rgb(109, 103, 103);
 }
 #sign-in-sign-up button{
    width: 100%;
    height:50px;
    line-height: 50px;
    background: rgb(24, 119, 242);
    border: none;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
 }
 #sign-in-sign-up button:hover{
    background: rgb(22, 91, 182);
 }
 #sign-in-sign-up .sign-in-sign-up-return{
    background-color: rgb(233, 14, 14);
 }
 #sign-in-sign-up .sign-in-sign-up-return:hover{
    background-color: rgb(197, 33, 33);
 }
 #sign-up{
    display: none;
 }
#menu_notchange {
    max-height: 414px;
    width: 100%;
    margin-top: 119px;
    user-select: none;
}

#menu_notchange #menu-nav {
    width: 272px;
    height: 73px;
    display: flex;
}

#menu-nav .menu-nav-butt {
    width: calc(100% / 4);
    height: 73px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-nav .menu-nav-butt.active {
    background: rgba(137, 140, 161, 0.5);
}

#menu-nav .menu-nav-butt i {
    margin-top: 27px;
}

#menu-nav .menu-nav-butt p {
    margin-top: 18px;
    font-size: 12px;
    font-weight: 700;
}

#menu-s_flight {
    height: 290px;
    width: calc(100%);
    margin-top: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px 3px #888888;
    border: 1px solid transparent;
    position: relative;
    display: block;

}

#menu-s_hotel {
    height: 272px;
    width: calc(100%);
    margin-top: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px 3px #888888;
    border: 1px solid transparent;
    padding: 35px 40px 38px 38px;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 18px 26px;
    font-weight: bold;
    position: relative;

}

#menu-s_flight #menu-s_flight-nav {
    height: 37px;
    width: 320px;
    display: flex;
    justify-content: flex-start;
    gap: 0px 15px;
    margin-top: 20px;
    margin-left: 35px;
}

#menu-s_flight #menu-s_flight-nav .menu-s_flight-nav-butt {
    height: 100%;
    width: 125px;
    border-radius: 50px;
    cursor: pointer;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #353F65;
}

#menu-s_flight #menu-s_flight-nav .menu-s_flight-nav-butt.active {
    background: rgba(168, 166, 160, 0.5);
}

#menu-s_flight #menu-s_flight-menu {
    height: 192px;
    width: calc(100% - 70px);
    margin-top: 20px;
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px 21px;
    font-weight: bold;
    position: relative;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-name,
#menu-s_hotel .menu-s_hotel-butt-name {
    margin-bottom: 10px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt1,
#menu-s_hotel .menu-s_hotel-butt1 {
    height: 88px;
    width: calc(((100% - 36px) * 0.37) - 2px);
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(248, 248, 250);
    border: 1px solid rgb(175, 175, 175);
    padding: 14px 55px 13px 18px;
    font-size: 12px;
    color: #8c8d92;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city {
    height: 18px;
    width: 100%;
    outline: none;
    color: #2E3758;
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(248, 248, 250);
    position: relative;
    margin-top: 20px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location i,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city i {
    position: absolute;
    top: -1px;
    right: 0px;
    border: 1px solid black;
    box-sizing: unset;
    padding: 1px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location i.rotate {
    transform: rotate(180deg);
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location input[type="text"] {
    width: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    box-sizing: unset;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-ticket-p {
    position: absolute;
    top: 8px;
    right: 55px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu {
    margin-top: 10px;
    height: 0px;
    width: 80%;
    list-style: none;
    font-size: 12px;
    background: white;
    border: 0px solid;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height 0.2s, border 0.1s;
    z-index:10000;
    position: relative;
}
#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu::-webkit-scrollbar,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu ::-webkit-scrollbar{
   width: 3px;
}
#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu::-webkit-scrollbar-thumb,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu ::-webkit-scrollbar-thumb{
  background-color: #2E3758;
}
#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu.show,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu.show
{
    height: 180px;
    border: 1px solid;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu li,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu li {
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    border-top: 1px solid;
   
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu li:hover,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu li:hover {
    background: rgb(170, 165, 165);
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt-location .menu-s_f-m-butt-location-menu li#first,
#menu-s_hotel .menu-s_hotel-butt1 #menu-s_h-butt-city .menu-s_f-m-butt-city-menu li#first
{
    border-top: none;
}

#menu-s_flight #menu-s_flight-menu input[type="text"]:focus {
    border-bottom: 1px solid;
}

#menu-s_hotel #menu-s_hotel-butt2 input[type="date"],
#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt1 input[type="date"] {
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    color: #2E3758;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid rgb(182, 179, 179);
    -webkit-text-fill-color: #2E3758;
}

#menu-s_hotel #menu-s_hotel-butt2 {
    height: 88px;
    width: calc(((100% - 54px) * 0.314) - 2px);
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(248, 248, 250);
    border: 1px solid rgb(175, 175, 175);
    padding: 14px 55px 0px 18px;
    font-size: 12px;
    color: #8c8d92;
}

#menu-s_hotel #menu-s_hotel-butt3 {
    height: 88px;
    width: calc(((100% - 54px) * 0.26) - 2px);
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(248, 248, 250);
    border: 1px solid rgb(175, 175, 175);
    padding: 14px 55px 0px 18px;
    font-size: 12px;
    color: #8c8d92;
}
#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt3,
#menu-s_hotel .menu-s_hotel-butt4 {
    height: 88px;
    width: calc(((100% - 36px) * 0.26) - 2px);
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(248, 248, 250);
    border: 1px solid rgb(175, 175, 175);
    color: #8c8d92;
    padding: 14px 55px 13px 18px;
    font-size: 12px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt3 .menu-s_f-m-butt-add,
#menu-s_hotel #menu-s_hotel-butt3 .menu-s_hotel-butt-add {
    width: 100%;
    margin-top: 20px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: #2E3758;
    line-height: 25px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt3 .menu-s_f-m-butt-add button,
#menu-s_hotel #menu-s_hotel-butt3 .menu-s_hotel-butt-add-butt button {
    width: 25px;
    height: 100%;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt3.flight {
    position: absolute;
    top: 104px;
    right: 0px;
}

#menu-s_hotel .menu-s_hotel-butt4.hotel {
    position: absolute;
    top: 143px;
    right: 40px;
}

#menu-s_flight #menu-s_flight-menu .menu-s_f-m-butt3#sl,
#menu-s_hotel .menu-s_hotel-butt4#sl {
    color: white;
    background-color: rgb(223, 20, 45);
    line-height: 88px;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    font-weight: 700;
}