.slider_offer_menu {
    width: 100%;
    margin-top: 42px;
    display: none;
}
.slider_offer_menu #slider_offer_menu-slider{
    width: 100%;
    height: 239px;
}

.slider_offer_menu #title {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_offer_menu #title #title_main {
    font-size: 31px;
    font-weight: 800;
    color: #282E44;
    font-family: 'Open Sans', sans-serif;
}

.slider_offer_menu #title #title_sub {
    color: rgb(147, 140, 140);
    margin-right: 45px;
    font-size: 18px;
    
}
.slider_offer_menu #title #title_sub:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #282E44;
}

.slider_offer_menu #slider_offer_menu-slider #slider,#slider_offer_menu-slider-h #slider {
    width: 100%;
    height: calc(100% - 49px);
    margin-top: 18px;
    overflow: auto;
    display: flex;
    gap: 0px 23px;
}

.slider_offer_menu #slider_offer_menu-slider #slider::-webkit-scrollbar {
    height: 0px;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item {
    min-width: 462px;
    height: calc(100% - 2px);
    border-radius: 15px;
    display: flex;
    background-color: white;
    box-shadow: 0px 5px 7px -5px rgb(90 88 88);
    padding: 24px 28px 8px 24px;
    justify-content: space-between;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-img {
    width: calc(100% - 285px);
    border-radius: 10px;
    overflow: hidden;
    height: 140px;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-info-c_p {
    margin-top: 10px;
    margin-left: 15px;
    width: 270px;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-info {
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-coupon_butt {
    margin-top: 32px;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-coupon_butt #slider_item-coupon {
    height: 100%;
    width: 147px;
    display: flex;
    color: #6C738F;
    font-weight: 600;
    user-select:none;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-coupon_butt #slider_item-butt {
    height: 100%;
    width: 98px;
    font-weight: 600;
   border-radius: 5px;
    color: rgb(223, 20, 45);
    background-color: rgb(236, 192, 196);
    border: none;
    cursor: pointer;
    transition: color 0.7s, box-shadow 0.4s;
}

.slider_offer_menu #slider_offer_menu-slider #slider .slider_item #slider_item-coupon_butt #slider_item-butt:hover {
    color: white;
    box-shadow: 0px -32px inset red;
}

.slider_offer_menu #slider_offer_menu-menu_flight {
    height: 596px;
    margin-top: 50px;
    border-radius: 10px;
    background: white;
    padding: 30px 50px 13px 25px;
    width: 100%;
    overflow: hidden;

}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items {
    margin-top: 41px;
    height: 475px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 24px;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item {
    min-height: 76px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #b9bac0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    align-items: baseline;
    font-weight: 700;
    color: #282E44;
    position: relative;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item #m_f-items-item-img {
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item #m_f-items-item-img img {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item #m_f-items-item-localtion {
    color: #A2A8BF;
    margin-left: 20px;
    width: 288px;
    margin-right: 65px;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item #m_f-items-item-localtion span {
    font-size: 18px;
    font-weight: 800;
    color: #282E44;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item #m_f-items-item-price {
    width: 114px;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item .m_f-items-item-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 42px;
    width: 152px;
    border: none;
    border-radius: 50px;
    background: transparent;
    transition: box-shadow 0.5s;
    margin-left: 81px;
    cursor: pointer;
}

.slider_offer_menu #slider_offer_menu-menu_flight #slider_o_m-m_f-items #slider_o_m-m_f-items-item .m_f-items-item-button:hover {
    box-shadow: 152px 0px #163668 inset;
    color: white;
}

.slider_offer_menu #banner {
    height: 205px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: black;
    box-sizing: unset;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.slider_offer_menu #banner img{
    width: 100%;
    height: 100%;
}
.slider_offer_menu #banner button{
    height: 54px;
    width: 138px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    top: 70px;
    border:none;
    background-color: rgb(255,145,137);
    font-size: 16px;
    color:white;
    font-weight: 700;
}